.projects-link {
    color: var(--third-color);
}

.menu {
    display: block;
}

.submenu {
    color: var(--fourth-color);
    display: inline-block;
    flex: 1;
    padding: 2% 3%;
    text-decoration: none;
}

li {
    display: inline;
}

.getdown {
    display: contents;
    position: absolute;
}

.drop {
    background-color: var(--primary-color);
    display: none;
    padding: 2%;
    position: absolute;
}

.drop-items {
    align-self: center;
    display: flex;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h3 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

.all-projects {
    margin: 4%;
}

.all-projects a {
    color: var(--third-color);
}

img {
    height: 200px;
    width: 350px;
}

@media only screen and (max-width: 768px) {
    .menu {
        display: flex;
    }
}